<div class="col-4 col-12-medium">
    <div id="sidebar">
        <section>
            <header class="major">
                <h2>Добро пожаловать!</h2>
            </header>
            <p>
                Приветственное сообщение.
            </p>
            <footer>
                <a asp-area="" asp-controller="Dishes" asp-action="Index" class="button icon solid fa-info-circle">
                    Перейти к услугам
                </a>
            </footer>
        </section>
    </div>
</div>